body {
    background-color: #228565;
    font-family: "Poppins", sans-serif;
} 

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 150px;
}

.cabecalho {
    padding: 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.cabecalho .container {
    display: flex;
    align-items: center;
}

.cabecalho figure img {
    width: 100%;
    max-width: 140px;

}

.cabecalho .cabecalho_logoPicpro {
    border-right: 1px solid #fff;
    margin-right: 15px;
}

.secaoDetalhesConta {
    color: #fff;
}

.secaoDetalhesConta_Usuario {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.secaoDetalhesConta_Usuario p {
    font-size: 18px;
    margin-left: 16px;
    padding-top: 24px;
}

.secaoDetalhesConta_Usuario img {
    width: 100%;
    max-width: 50px;
}

.secaoDetalhesConta_Usuario p strong {
    display: block;
    font-weight: bold;
    padding-bottom: 30px;
}

.secaoDetalhesConta_desafio {
    display: flex;
    padding: 20px 20px;
    margin-left: 450px;
}

.secaoDetalhesConta_desafio img {
    width: 100%;
    max-width: 50px;
    padding: 8px 8px;
}

.secaoDetalhesConta_Saldo {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
    margin-bottom: 10px;    
}

.secaoDetalhesConta_Saldo p {
    font-size: 16px;
    line-height: 22px;
}

.secaoDetalhesConta_Saldo p strong {
    display: block;
    font-weight: 600;
}

.secaoDetalhesConta_Saldo img {
    width: 100%;
    max-width: 28px;
}

.secaoDetalhesConta_Saldo button {
    background-color: #fff;
    border: none;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 60px;
    border-radius: 10px;
    cursor: pointer;
}

.secaoDetalhesConta_transacoes {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.secaoDetalhesConta_transacoes li {
    background-color: #1f6f54;
    width: 170px;
    height: 177px;
    border-radius: 20px;
    padding: 40px 20px;
    cursor: pointer;
}

.secaoDetalhesConta_transacoes li:hover{
    background-color: #ffffff59;
}

.secaoDetalhesConta_transacoes li img{
 width: 100%;
 max-width: 40px;
}

.secaoDetalhesConta_transacoes li p {
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
    line-height: 25px;
    width: 80px;
}

.secaoPagamentos {
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    border-bottom: 15px solid #f0f0f0;
    padding: 30px 0;
}

.secaoPagamentos_aviso p {
    font-size: 25px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    padding: 30px 60px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.secaoPagamentos_aviso img {
    margin: 30px 0 90px;
    width: 100%;
}

.secaoPagamentos_qrcode {
    text-align: center;
}

.secaoPagamentos_qrcode img {
    max-width: 180px;
}

.secaoPagamentos_qrcode p {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
}

.secaoPagamentos_qrcode button {
    background-color: #228565;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 0px;
    margin: 50px 0 20px;
    padding: 15px 150px;
    cursor: pointer;
}

.secaoPagamentos_qrcode a {
    display: block;
    color: black;
    font-weight: bold;
}

.secaoPagamentos_pix img {
    width: 100%;
    max-width: 150px;
    margin-top: 60px;
}

.secaoPagamentos_boxOpcao {
    display: flex;
    align-items: center;
    border: 1px solid #d4d4d4;
    max-width: 500px;
    padding: 14px 10px;
    border-radius: 10px;
    margin: 20px 0;

}

.secaoPagamentos_boxOpcao img {
    width: 100%;
    max-width: 80px;
}

.secaoPagamentos_boxOpcao p {
    font-size: 16px;
    line-height: 20px;
    margin-left: 20px;
}

.secaoPagamentos_boleto {
    
}
.secaoPagamentos_boleto img, .secaoPagamentos_cobrar img {
    width: 100%;
    max-width: 80px;
}

.secaoPagamentos_boleto h2, .secaoPagamentos_cobrar h2 {
    font-size: 20px;
    font-weight: 600;
}

.secaoPagamentos_boleto p, .secaoPagamentos_cobrar p {
    font-size: 18px;
    max-width: 500px;
    margin: 20px 0;
}

.secaoPagamentos_boleto input{
    width: 100%;
    background-color: #F4F4F4;
    font-size: 16px;
    height: 50px;
    padding: 0 80px;
    border-radius: 10px;
    border: 1px solid #d4d4d4;
    color: #000;
    box-sizing: border-box;
}

.secaoPagamentos_cobrar .secaoPagamentos_boxOpcao p{
    margin-left: 10px;
}

.rodape {
    background-color: #fff;

}

.rodape_menuPrincipal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rodape_menuPrincipal li {
    text-align: center;
}

.rodape_menuPrincipal li a {
    color: #000;
    text-decoration: none;
}

.rodape_menuPrincipal li a img {
    width: 100%;
    max-width: 40px;
}

.rodape_menuPrincipal li a p {
    margin-top: 20px;
}

.rodape_menuItem--pagar {
    transform: translateY(-35px);
    
}

.rodape_menuPrincipal .rodape_menuItem--pagar a img {
    max-width: 80px;
}